{% extends "common/base.html" %}
{% block content %}
<h1>Lights</h1>
{% if lights %}
<div class="row mb-2 ml-0">
  <a
    class="btn btn-secondary button-sm"
    href="{{ url_for('gui.light.request_new') }}"
    role="button">
    Create
  </a>
</div>
<div class="list-group">
  {% for light in lights %}
  <a
    {% if light.is_powered_on %}
    class="mb-1 list-group-item list-group-item-action list-group-item-primary"
    title="Light is On"
    {% else %}
    class="mb-1 list-group-item list-group-item-action list-group-item-dark"
    title="Light is Off"
    {% endif %}
    data-toggle="tooltip" data-placement="top"
    href="{{ url_for('gui.light.detail', id=light.id) }}">
    {{ light.name }}
  </a>
  {% endfor %}
</div>
{% else %}
<p class="lead">
  <a
    href="{{ url_for('gui.light.request_new') }}">
    Create</a> some lights first.
</p>
{% endif %}
{% endblock %}
