{% extends "common/base.html" %}
{% block content %}
    <h1>Lights</h1>
    <div id="lights-group" class="list-group"></div>
{% endblock %}

{% block javascript %}
<script>
    $(function () {
        const URL = "{{ url_for('api.v0.light.get_all', _external=True) }}";
        $.ajax({
            method: 'GET',
            url: URL,
            headers: {
                'Accept': 'application/json'
            },
            success: function (json) {
                // We can't generate the detail URL for `href` below with
                // `url_for('gui.light.detail', id=light.id)` because, at
                // the time this template is processed server-side, there
                // is no defined `light` instance yet and no retrievable
                // ID value. This callback execs on the client-side and
                // must first wait for this request to return with data
                // for a defined/usable object.
                var lights = $('#lights-group');
                $.each(json.lights, function (key, light) {
                    lights.append(
                        '<a ' +
                            'class="mb-1 list-group-item list-group-item-action"' +
                            'href="' + URL + light.id + '">' +
                            light.name +
                        '</a>'
                    );
                });
            }
        });
    });
</script>
{% endblock %}
