{% extends "common/base.html" %}
{% block content %}
<h1>About Lights</h1>
<p>
  This demo app is intended to show a <em>practical and working</em>
  example of how you can architect a large-scale software system
  allowing it to grow more easily while reducing the likelihood of
  major refactoring efforts down the road. The application's
  architecture can be summarized as follows:
  <ul>
    <li>Reverse HTTP proxy for SSL/TLS encryption</li>
    <li>Web service (RESTful API + GUI)</li>
    <li>Business logic</li>
    <li>Database backend</li>
  </ul>
  For additional information, including system setup and API usage
  examples, see the
  <a href="https://gitlab.com/ghost-in-the-zsh/lights">README.md</a> file.
</p>
{% endblock %}
